<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("./partials/head") %>
        <title>Carrito</title>
    </head>
    <body class="d-flex flex-column vh-100 bg-gray">
        <%- include("./partials/header") %>

        <main class="flex-fill container py-3">
            <div class="bg-white border shadow p-3 d-flex flex-column" style="min-height: 400px">
                <h1 class="fs-3 mb-4">Carrito</h1>
                <div class="flex-fill d-flex flex-column justify-content-between">
                    <% if (cart.length == 0) { %>
                    <div class="text-center p-5">No hay productos en su carrito</div>
                    <% } %>

                    <div>
                        <% cart.forEach(item=>{%>
                        <div class="d-flex">
                            <div style="width: 80px">
                                <img class="w-100" src="<%= item.image %>" alt="" />
                            </div>
                            <div class="flex-fill">
                                <h2 class="fs-4"
                                    ><a href="/products/<%= item.id %>"><%= item.name %></a></h2
                                >
                                <form action="/me/cart/<%= item.id %>?_method=delete" method="post">
                                    <button class="btn color-primary">Eliminar</button>
                                </form>
                            </div>
                            <div class="d-flex align-items-center">
                                <form action="/me/cart/remove/<%= item.id %>" method="post">
                                    <button class="btn">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                </form>
                                <p class="fs-4 align-middle m-0 px-3"><%= item.count %></p>
                                <form action="/me/cart/add/<%= item.id %>" method="post">
                                    <button class="btn">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="text-end w-25">
                                <p class="fs-4">$ <%= printPrice(item.price * item.count) %></p>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <% if (cart.length > 0) { %>
                    <div>
                        <div class="d-flex w-100 justify-content-end">
                            <div class="fs-3 m-0 pe-5">Total</div>
                            <div class="fs-3 m-0 text-end">$ <%= totalPrice %> </div>
                        </div>
                        <form
                            class="d-flex w-100 justify-content-end p-3"
                            action="/me/cart/buy"
                            method="POST"
                        >
                            <button class="btn btn-primary">Comprar</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
